
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    background: linear-gradient(to top, rgb(0, 0, 0),rgba(0, 0, 0, 0.8)), url(img_006.jpg);
    background-position: center;
    height: 109vh;
}

.form{
    width: 500px;
    height: 550px;
    background: linear-gradient(to top, rgba(17, 17, 17, 0.8),rgba(0, 0, 0, 0.8));
    position: absolute;
    top: 5%;
    left: 30%;
    text-align: center;
    border-radius: 10px;
    padding: 25px;
    padding-top: 0;
}

.form h2{
    width: 300px;
    font-family: sans-serif;
    text-align: center;
    color: #ff7291;
    font-size: 22px;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form p{
    color: #fff;
}
.form input{
    width: 450px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid #ff7291;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}
.form input:focus{
    outline: none;
}
::placeholder{
    color: #fff;
    font-family: sans-serif;
    font-style: italic;
}
.btnn{
    width: 240px;
    height: 40px;
    background: #ff7291;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s ease;
}
.btnn:hover{
    background: #fff;
    color: #ff7291;
}
.btnn a{
    text-decoration: none;
    font-weight: bold;
    color: #000;
}
.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}
.form .link a{
    text-decoration: none;
    color: #ff7291;
}
.liw{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.icon a{
    text-decoration: none;
    color: #fff;
}
.icon ion-icon{
    color: #fff;
    font-size: 30px;
    padding-left: 14px;
    padding-top: 5px;
    transition: 0.3s ease;
}
.icon ion-icon:hover{
    color: #ff7291;
}