{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/fontawesome-free-6.1.2-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdsjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'contact_style.css' %}">
    <title>About Us</title>
</head>
<body>
       <!-- -----------------ABOUT SECTION--------------- -->
       <section class="about section" id="about">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h2>About Us</h2>
                </div>
            </div>

            <div class="row">
                <div class="about-content padd-15">
                    <div class="row">
                        <div class="about-text padd-15">
                            <h3>We specialize in <span>Web and Software Development</span></h3>
                            <p>We can make you feel good with a responsive website. Lets do business. </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="skills padd-15">
                            <div class="row">
                                <div class="skill-item padd-15">
                                    <h5>JavaScript</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 86%;"></div>
                                        <div class="skill-percent">86%</div>
                                    </div>
                                </div>

                                <div class="skill-item padd-15">
                                    <h5>Python</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 76%;"></div>
                                        <div class="skill-percent">76%</div>
                                    </div>
                                </div>

                                <div class="skill-item padd-15">
                                    <h5>HTML</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 96%;"></div>
                                        <div class="skill-percent">96%</div>
                                    </div>
                                </div>

                                <div class="skill-item padd-15">
                                    <h5>CSS</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 96%;"></div>
                                        <div class="skill-percent">96%</div>
                                    </div>
                                </div>

                                <div class="skill-item padd-15">
                                    <h5>Bootstrap</h5>
                                    <div class="progress">
                                        <div class="progress-in" style="width: 96%;"></div>
                                        <div class="skill-percent">96%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <div class="row">
                        <div class="buttons padd-15">
                            <a href="contact" class="btn hire-me">Hire Us</a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>
</body>
</html>